/*-- scss:functions --*/

/*-- scss:defaults --*/

$toc-color: #f44702;
$toc-inactive-border: #00000000;

/*-- scss:rules --*/

:root {
    --title-font: Noto Serif, Serif;
    --body-font: Helvetica Neue, Lato, Verdana, sans-serif;
    --title-color: #f44702;
    --body-font-size: 20px;
    --body-font-weight: 300;
    --h1-title-font-weight: 700;
    --h1-title-font-size: 3em;
    --h1-font-weight: 700;
    --h1-font-size: 2em;
    --h2-font-weight: 500;
}

main {
    font-family: var(--body-font);
    font-weight: var(--body-font-weight);
    font-size: var(--body-font-size);
    max-width: 700px;
}

.quarto-title h1 {
    color: var(--title-color);
    opacity: 100%;
    font-family: var(--title-font);
    font-size: var(--h1-title-font-size);
    font-weight: var(--h1-title-font-weight);
}

h1 {
    color: var(--title-color);
    opacity: 100%;
    font-family: var(--title-font);
    font-size: var(--h1-font-size);
    font-weight: var(--h1-font-weight);
}

h2 {
    color: var(--title-color);
    opacity: 100%;
    border: 0px;
    font-family: var(--title-font);
    font-weight: var(--h2-font-weight);
}

a {
  text-decoration: underline solid .06em;
  color: $body-color
}

a:hover {
  color: var(--title-color);
}

/*--    
nav#TOC {
    font-family: var(--body-font) !important;
    font-weight: var(--body-font-weight) !important;
    font-size: var(--body-font-size) !important;
}

a.nav-link.active {
    color: black !important ;
}
--*/
